extends layout

block content
  gcse:search(queryParameterName="search")

  script(type="text/javascript")
    (function() {
      var cx = '016167360345834759472:br7yhyiw3no';
      var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
      gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
    })();

