doctype 5
html
  head
    title 
      - if (pageTitle)
        | #{pageTitle} &mdash; 
      | Public Bodies 
    link(rel='stylesheet', href='/stylesheets/publicbodies.css')
    link(rel="shortcut icon",href="http://assets.okfn.org/p/okfn/img/favicon.ico")
    
    // Consent manager
    script.
      var okiConsent = {analyticsTrackingID: 'UA-33874954-15'}  
    script(src='https://a.okfn.org/html/oki/consent/assets/js/consent.js')
    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .pull-right
            form(class="navbar-search",action="/search")
              input(type="text",name="search",class="search-query",placeholder="Search")
            a(href="http://okfnlabs.org",title="An Open Knowledge Foundation Labs project",target="_blank")
              img.logo(src="/images/logo-flask.png",alt="Open Knowledge Foundation Labs")
          a.brand(href="/") Public Bodies
          span A URL for every part of government
    .container
      block content
    footer.footer
      .container
        p
          | © 2011-2013: An 
          a(href='http://okfn.org') Open Knowledge Foundation
          |  project. 
          a(href='https://okfn.org/privacy-policy/') Privacy policy

          // Open Data Link 
          a(href='http://opendefinition.org/')
            img(alt='This material is Open Data', border='0', src='http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png')
          // Open Data Link 
