doctype 5
html
  head
    title 
      | Public Bodies 
      - if (pageTitle)
        | &mdash; #{pageTitle}
    link(rel='stylesheet', href='/stylesheets/publicbodies.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Public Bodies
          span A URL for every part of government
    .container
      block content
    footer.footer
      .container
        p
          | © 2011-2013: An 
          a(href='http://okfn.org') Open Knowledge Foundation
          |  project. 
          // Open Data Link 
          a(href='http://opendefinition.org/')
            img(alt='This material is Open Data', border='0', src='http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png')
          // Open Data Link 
