doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/publicbodies.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand Public Bodies
          span A URL for every part of government
    .container
      block content
