@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

body {
    padding: 50px 0 20px;
}

.navbar .container span {
    line-height: 40px;
    color: @grayLight;
}

.footer {
    margin-top: 40px;
    padding: 30px 0 20px;
    background: @grayLighter;
    text-align: center;
}
